*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
:root{
    --body-color:#212529;
    --main-color:#ff1949;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    
}
.align-items-center{
    align-items: center !important;
}
/* Header  */
/* Top HEader  */
.top-header{
    background-color: #252525;
}
.container-fluid{
    padding-left: 60px;
    padding-right: 60px;
}
.top-left{
    width: 65%;
}
.top-header-contact-info{
    /* display: inline-block; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    list-style-type: none;
}
.top-header-contact-info li{
    padding-left: 0;
    font-size: 14px;
    color: #ffffff;
}
.top-header-contact-info li a{
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}
