body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #868686;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Top-Bar Section  */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.top-bar-left {
  display: inline-block;
  color: #fff;
  line-height: 48px;
}
