
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.shopbtn:hover{
    background-color: red;
    color: white;
    border: 2px solid transparent;
}
/* First Section */
header{
    box-shadow: 0px 1px #ede3e3;
}

.upper{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
}
.drop-down{
    border: none;
    background-color: transparent;
}
.vl {
   border-left: 2px solid black;
   margin-right: 10px;
  }
/* 2nd section */
.lower{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.search-box{
    height: 50px;
    display: flex;
}
#category{
    padding: 15px;
    border-right: none;
    border-color: red !important;
}
.input-search{
    width: 500px;
    padding: 20px;
    border-color: red !important;
    border: solid;
    border-width: 1px;
    border-left: none;
}
.items{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.i-vl{
    height: 36px;
    border-left: 2px solid black;
    margin-right: 23px;
    margin-left: 23px;
}
.left-items span{
    margin-right: 22px;
    cursor: pointer;
}
/* navbar */
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.b-cate{
display: flex;
padding: 4px;
margin-left: 10px;
background-color: #E93939;
}
.b-cate select{
    width: 100%;
    padding: 5px;
background-color: #E93939;
color: white;
border: none;
font-size: 18px;
cursor: pointer;
}
.b-cate select option{
    background-color: white;
    color: black;
}
.float-right{
    display: flex;
}
.d{
    background-color: red;
}
.nav-drop{
    color: white;
    font-size: 16px;
}
.left-items, .items{
    display: flex;
}
button{
    cursor: pointer;
}

/* hero Section  */
.hero-section{
    background-color: #0000000f;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}
.hero-left{
    width: 50%;
    margin-left: 200px;
}
.hero-left h4{
    font-size: 20px;
    color: #E93939;
    margin: 0;
}
.hero-left h1{
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}
.hero-left h6{
    font-size: 40px;
    margin: 0;
    font-weight: 400;
}
.hero-left p{
    font-size: 22px;
    font-weight: 500;
}
.shopbtn{
    font-size: 15px;
    padding: 15px 40px;
    /* position: relative;
    overflow: hidden; */
}
/* .shopbtn::before{
    content: "";
    position: absolute;
    width: 45px;
    height: 200px;
    top: -142px;
    left: -72px;
    transform: rotateZ(45deg);
    background-color: red;
}
.shopbtn:hover:before{
    content: "";
    position: absolute;
    width: 58px;
    height: 195px;
    top: 10px;
    left: 80px;
    transform: rotateZ(45deg);
    background-color: red;
    transition: all 0.5s linear;
} */
.hero-right{
    width: 50%;
}
.hero-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
.hero-items img{
    border-radius: 50%;
    background-color: #0000000f;
    margin-right: 25px;
}
.support{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.money-back, .s-payment, .free-shipping, .cs{
    border: 5px solid #0000000f;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.category-section{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.fashions, .foot-wear , .mens{
    width: 30%;
    background-color: #dedad9;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.heading{
    font-size: 40px;
}
.shop-btn{
    font-size: 20px;
    background: transparent;
    border: none;
    margin-top: 15px;
}
/* Hot offers section  */
.HOhr{
    position: relative;
}
.HOhr::after{
    content: "";
    border-bottom: 2px solid rgb(134, 133, 133);
    position: absolute;
    top: 38px;
    width: 85%;
    margin-left: 5px;

}
.hotOffers, .hotoffers2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hotoffers2{
    margin-top: 35px;
}
.HOleft , .HOright{
    border: 2px solid red;
    width: 47%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.HOcontent{
    margin-left: 5%;
}
.time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    margin-bottom: 20px;
    margin-top: -5px;
    padding: 11px;
    color: white;
}
.addtocardbtn{
    background-color: transparent;
    margin-top: 20px;
}
/* Best sellings  */
.bsellings{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

@media screen AND (max-width : 1271px) {
    .input-search{
        width: 400px;
    }
@media screen AND (max-width : 1171px) {
        .input-search{
            width: 250px;
        }
        .fashions, .foot-wear , .mens{
            width: 30%;
            padding-left: 10px;
        }
        .cate-img{
            width: 50%;
        }
        .HOhr::after{
            width: 65%;
            margin-left: 0px;
        
        }
}
@media screen AND (max-width : 1040px) {
    .input-search{
        width: 200px;
    }
    .logo img{
        width: 150px;
    }
}
@media screen AND (max-width : 945px) {
    .lower{
        display: block;
    }
    .input-search{
        width: 100%;
    }
    .logo{
        text-align: center;
    }
    .logo img{
        width: 50%;
    }
    .left{
        display: none;
    }
    .upper{
        width: 100%;
        justify-content: center;
        margin: auto;
        text-align: center;
    }
    .hero-left{
         margin-left: 80px;
    }
    .hero-left h4{
        font-size: 18px;

    }
    .hero-left h1{
        font-size: 33px;
    }
    .hero-left h6{
        font-size: 30px;
    }
    .hero-left p{
        font-size: 20px;
    }
    .shopbtn{
        font-size: 15px;
        padding: 8px 20px;
    }
    .hero-right img{
        width: 300px;
    }
    .support{
        flex-flow: row wrap;
    }
    .category-section{
        flex-flow: row wrap;
        height: auto;
    }
    .fashions, .foot-wear , .mens{
        width: 70%;
        margin-top: 10px;
    }
    .heading{
        font-size: 30px;
    }
    .bsellings{
        flex-wrap: wrap;
    }
    .hotOffers, .hotoffers2{
        flex-wrap: wrap;
        width: 100%;
    }
    .HOleft, .HOright{
        display: block;
        width: 40%;
    }
    .HOimg img{
        width: 100%;
    }

}
}
 